@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
	max-width: 1900px;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
	padding: 20px;
}

h3 {
	font-size: 1.5em;
}

p {
		
}

.album-art {
	float: left;
	max-width: 150px;
	height: auto;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	float: left;
}

.record-label {
	color: red;
	font-style: italic;
}

.track-list {
	
}

#about-photo {
	float: left;
	max-width: 440px;
	height: auto;
	padding: 18px;
	margin: 0 18px 40px 40px;
	border: 3px double red;
}

#copyright {
	color: red;
	font-size: small;
}

#section-about, #section-discography, #section-equipment {
	border: 3px double red;
	margin: 20px;
}

#text-intro {
	background-color: #333333;
	color: red;
	font-size: 20px;
	padding: 24px 24px;
	border: 3px solid red;
	margin: 20px;
}